<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/2af254fe4c.js"
      crossorigin="anonymous"
    ></script>
    <title>Alumni Website</title>
  </head>
  <body class="bg-[#efece5]">
    <%- include("partials/header.ejs") %>
    <!-- <div class="sticky top-0 bg-white drop-shadow-xl backdrop-blur-3xl">
      <nav class="flex justify-between items-center px-2 py-4">
        <div class="flex items-center">
          <img class="w-20" src="../img/outr-logo.png" alt="..." />
          <div class="ml-2 leading-5">
            <p class="font-semibold text-violet-900">
              Odisha University of Technology and Research
            </p>
            <p class="font-semibold text-violet-900">
              Bhubaneswar (Formerly CET Bhubaneswar)
            </p>
            <p class="text-gray-500">Alumni Association</p>
          </div>
        </div>
        <div class="flex justify-between items-center">
          <div
            class="nav-links lg:static absolute lg:min-h-fit bg-slate-100 lg:bg-white right-0 top-[-1000%] lg:w-auto w-full flex items-start justify-center px-5"
          >
            <ul
              class="flex lg:flex-row flex-col lg:items-center items-center lg:gap-[2vw] gap-8 text-lg lg:text-sm xl:text-lg font-bold my-8"
            >
              <li>
                <span><a href="#">ABOUT US</a></span>
              </li>
              <li>
                <a href="#">GIVING BACK</a>
              </li>
              <li>
                <a href="#">CHAPTERS</a>
              </li>
              <li>
                <a href="#">MEMBERS</a>
              </li>
              <li>
                <a href="#">ALUMNI ASSIST</a>
              </li>
            </ul>
          </div>
          <div class="flex items-center">
            <i
              class="fa-solid fa-magnifying-glass ml-2 px-4 py-3 bg-white text-2xl cursor-pointer"
            ></i>
            <ion-icon
              onclick="onToggleMenu(this)"
              name="menu"
              class="ml-2 px-4 py-4 bg-white text-3xl cursor-pointer lg:hidden"
            ></ion-icon>
          </div>
        </div>
      </nav>
    </div> -->

    <div
      class="h-96 w-full bg-red-500"
      style="
        background: bottom/cover url('../img/college.jpg');
        object-fit: cover;
      "
    >
      <div class="ml-4 pt-4">
        <p class="text-white text-3xl font-bold">Where You Belong</p>
        <p class="w-1/2 lg:w-1/4 text-white text-lg font-semibold leading-5">
          Welcome to the Odisha University of Technology and Research
          Bhubaneswar (Formerly CET Bhubaneswar)
        </p>
      </div>
    </div>
    <div
      class="w-full px-8 py-4 bg-blue-800 flex justify-center items-center text-white"
    >
      <p class="underline font-semibold lg:text-xl">
        Learn about the progress of the OUTRTogether campaign.
      </p>
      <i class="fa-solid fa-arrow-right ml-2 pt-1"></i>
    </div>

    <div class="p-16 flex flex-col gap-24 lg:flex-row items-center">
      <div
        class="h-96 w-full bg-white flex flex-col gap-2.5 justify-center items-center border-b-8 border-blue-800"
      >
        <i class="fa-regular fa-calendar-days text-blue-800 text-5xl"></i>
        <div class="flex flex-col gap-8">
          <div class="mx-5 text-center">
            <p class="text-3xl font-bold text-blue-800">Attend an event</p>
            <p>Learn, engage, and celebrate with fellow OUTRians.</p>
          </div>
          <button class="mx-10 px-5 py-4 bg-blue-800 text-white font-bold">
            Find Events
          </button>
        </div>
      </div>
      <div
        class="h-96 w-full bg-white flex flex-col gap-2.5 justify-center items-center border-b-8 border-blue-800"
      >
        <i class="fa-solid fa-sheet-plastic text-blue-800 text-5xl"></i>
        <div class="flex flex-col gap-8">
          <div class="mx-5 text-center">
            <p class="text-3xl font-bold text-blue-800">Share you talent</p>
            <p>Be ever true. Volunteer your time and expertise</p>
          </div>
          <button class="mx-10 px-5 py-4 bg-blue-800 text-white font-bold">
            Find Oppurtunities
          </button>
        </div>
      </div>
      <div
        class="h-96 w-full bg-white flex flex-col gap-2.5 justify-center items-center border-b-8 border-blue-800"
      >
        <i class="fa-solid fa-church text-blue-800 text-6xl"></i>
        <div class="flex flex-col gap-8">
          <div class="mx-5 text-center">
            <p class="text-3xl font-bold text-blue-800">Explore communities</p>
            <p>
              Expand your OUTR experience by club, class, affinity, or cause.
            </p>
          </div>
          <button class="mx-10 px-5 py-4 bg-blue-800 text-white font-bold">
            Find Communities
          </button>
        </div>
      </div>
    </div>

    <div class="mx-20 mb-10 flex justify-center items-center">
      <div
        class="h-[80vw] w-full max-h-[600px] max-w-[600px] p-8 bg-blue-800 rounded-3xl"
      >
        <div
          class="h-full w-full p-4 rounded-xl flex justify-center items-center"
          style="
            background: center/cover
              url('https://us.123rf.com/450wm/fizkes/fizkes2005/fizkes200501934/147608157-lot-of-happy-multiracial-people-looking-at-camera-in-square-collage-mosaic-many-smiling-multiethnic.jpg');
            object-fit: cover;
          "
        >
          <button class="mx-10 px-5 py-4 bg-blue-800 text-white font-bold" onclick="goToAlmaMater()">
            Find your Alma-Mater
          </button>
        </div>
      </div>
    </div>

    <div
      class="my-8 p-8 bg-white flex flex-col justify-center items-center gap-y-5"
    >
      <p class="text-3xl font-bold text-blue-800">OUTRTogether</p>
      <p class="w-3/5 text-center leading-5">
        You can support OUTR students and faculty in a variety of ways and help
        the University sustain and build on our excellence.
      </p>
      <button class="mx-10 px-5 py-4 bg-blue-800 text-white font-bold">
        Learn More
      </button>
    </div>

    <div class="bg-blue-800 text-white">
      <footer class="bg-blue-800 font-[sans-serif] tracking-wide">
        <div>
          <div
            class="h-64 w-full bg-red-500 px-10 py-2 flex justify-start items-end relative"
            style="
              background: center/cover url('../img/college-lights.jpg');
              background-image: linear-gradient(rgba(0, 0, 0, 0) 30%, #1e40af 95%),
                url('../img/college-lights.jpg');
              object-fit: cover;
            "
          >
            <p class="font-semibold text-white text-3xl">
              OUTR |
            </p>
            <p class="ml-2 text-white text-2xl">
              Alumni
            </p>
          </div>
          <div class="p-10">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
              <div class="flex sm:flex-col items-center sm:items-start">
                <img class="w-24" src="../img/outr-logo.png" alt="..." />
                <div class="ml-2 sm:ml-0 sm:mt-2 sm:mt-2 leading-5">
                  <p class="font-semibold text-white text-md sm:text-md">
                    Odisha University of Technology and Research
                  </p>
                  <p class="text-white text-md sm:text-md">
                    Bhubaneswar (Formerly CET Bhubaneswar)
                  </p>
                </div>
              </div>

              <div
                class="flex flex-col justify-end lg:items-start lg:justify-start"
              >
                <ul class="flex space-x-6">
                  <li>
                    <a href="javascript:void(0)">
                      <i class="fa-brands fa-facebook text-lg"></i>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">
                      <i class="fa-brands fa-x-twitter text-lg"></i>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">
                      <i class="fa-brands fa-instagram text-lg"></i>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">
                      <i class="fa-brands fa-youtube text-lg"></i>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">
                      <i class="fa-brands fa-linkedin text-lg"></i>
                    </a>
                  </li>
                </ul>
                <div class="pt-2 font-semibold">
                  <p>Other Social Medias →</p>
                </div>
              </div>

              <div>
                <h4 class="text-lg font-semibold mb-4 text-white">
                  Contact Us
                </h4>
                <ul class="space-y-2">
                  <li>
                    <a
                      href="javascript:void(0)"
                      class="text-gray-300 hover:text-white text-md"
                      >Email</a
                    >
                  </li>
                  <li>
                    <a
                      href="javascript:void(0)"
                      class="text-gray-300 hover:text-white text-md"
                      >Phone</a
                    >
                  </li>
                  <li>
                    <a
                      href="javascript:void(0)"
                      class="text-gray-300 hover:text-white text-md"
                      >Address</a
                    >
                  </li>
                </ul>
              </div>

              <div>
                <h4 class="text-lg font-semibold mb-4 text-white">
                  Information
                </h4>
                <ul class="space-y-2">
                  <li>
                    <a
                      href="javascript:void(0)"
                      class="text-gray-300 hover:text-white text-md"
                      >About Us</a
                    >
                  </li>
                  <li>
                    <a
                      href="javascript:void(0)"
                      class="text-gray-300 hover:text-white text-md"
                      >Terms &amp; Conditions</a
                    >
                  </li>
                  <li>
                    <a
                      href="javascript:void(0)"
                      class="text-gray-300 hover:text-white text-md"
                      >Privacy Policy</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="px-6 pt-4 pb-6 h-full w-full bg-blue-900">
            <p class="text-white text-sm pt-4 border-t-[1px] border-gray-400">
              © OUTR, Ghakitia, Bhubaneswar, 751003. All rights reserved.
            </p>
          </div>
        </div>
      </footer>
    </div>

    
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
